<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
    <title></title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">


<body>
    <nav class="nav">
        
        
        <a href="/">Home</a>

        <a href="/boarding">Boarding</a>
    
        <a href="/grooming">Grooming</a>
    
        <a href="/training">Training</a>
    
        <a href="">Registration</a>
    
        <a href="">Customer list page</a>


        <button class="btnNav" id="btnNavLink"><a href="">Book Appointment</a></button>
    </nav>   
    
