<%- include('partials/header') %>

<section class="hero2">
            
    <div class="hero-text">
      
        
    </div>
    
    <img src="images/images/dog-sleep.jpg" alt="">

    <h1>
        <u>- Pets-R-Us -</u>
    </h1> 
   

        <button  class="buttonReg">Registrar Now</button>
   <hr>
    
</section >

<div class= "container-about">
    <div class="col">
        <img src="images/images/boardingTeepp.jpg" class='pairDogs'>
    </div>
    <div class="col">
        <h2>Boarding Services</h2>
        <br>
        <br>     
        <p class="indent">Our facility has become very popular over the years with our unique style and nontraditional approach to caring
                         for pets while owners are away. At Pets-R-Us, we offer a one-of-a-kind experience that goes above and beyond your typical facility, and we believe that’s what sets us apart from the rest. We offer pets serval comfortable options for their sleeping needs. Pets can choose from Tee Pee, dog bed, and more as they lay down for a good night’s rest. We understand they have their own unique personalities, so why not pamper your pet with the accommodation that fits their unique style?</p>

        <p class="indent">	Our staff has you covered while you have to be away. We know it can be hard to leave your pet behind, but we have a staff of experienced professionals who are dedicated to the highest level of care for your pet. Our staff is on hand you keep you up to date on your pup and ready to answer any questions and concerns you may have. </p>

        <p class="indent"> 	While your pet is at the center, our staff will spend significant time with your pet and prioritize safety. We believe pets love and thrive on love and attention.  That is why we develop a special schedule for each dog that includes plenty of playtime and affection. Your pet will love staying here, and we believe you will leave feeling like you have made the best decisions for your pet. Come in for a tour of our facilities, and see what really makes us set apart. </p>

   
    </div>
</div>

<hr>

<div class="container-service">
<div>
    <h3>Boarding Cost</h3>
</div>
<div class="rates">
    <h2>1 Dog </h2>
    <hr>
    <ul>
        <br>
        <li>Nights up to 5 night: $30</li>
        <br>
     
        <li>Nights over to 5 night: $25</li>
        <br>
    </ul>
    <br>
   
    <hr>
    <br>
    <button  class="buttonReg">Book Now</button>
</div>    
<div class="rates">
    <h2>2 Dog </h2>
    <hr>
    <ul>
        <br>
        <li>Nights up to 5 night: $25</li>
        <br>
     
        <li>Nights over to 5 night: $20</li>
        <br>
    </ul>
    <br>
   
    <hr>
    <br>
    <button  class="buttonReg">Book Now</button>
</div>       

<div class="rates">
    <h2>3 Dog </h2>
    <hr>
    <ul>
        <br>
        <li>Nights up to 5 night: $20</li>
        <br>

        <li>Nights over to 5 night: $15</li>
        <br>
    </ul>
    <br>
   
    <hr>
    <br>
    <button  class="buttonReg">book Now</button>
</div>    

</div>

</div>
<br>
<br>
<br>
<%- include('partials/footer') %>
