
<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>></title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">


</head>
<body>
<div class='container'> 
    <!-- Navigation -->
    <nav class="nav">
        
        
            <a href="/">Home</a>
    
            <a href="">Boarding</a>
        
            <a href="/grooming">Grooming</a>
        
            <a href="">Training</a>
        
            <a href="">Registration</a>
        
            <a href="">Customer list page</a>

   
            <button class="btnNav" id="btnNavLink"><a href="">Book Appointment</a></button>
        </nav>    

        <!-- hero section -->

        <section class="hero2">
            
            <div class="hero-text">
              
                
            </div>
            
            <img src="images/images/grooming.jpg" alt="">

            <h1>
                <u>- Pets-R-Us -</u>
            </h1> 
           

                <button  class="buttonReg">Registrar Now</button>
           <hr>
            
        </section >
        <br>
        <br>
        <br>
         
           
        
    </div> 
 
        <h3 >Services</h3> 
 
            <br>
            <br>
           
                
    <div class="grooming-Table"></div>      
            <hr>
            <table>
                <tr>
                    <th>Full Package</th>
                    <th>Styling</th>
                    <th>Nails</th>
                  
                   
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                 </tr>
                <tr>
                    <td>Shampoo</td>
                    <td>custom Style</td>
                    <td>Nail Trim</td>
                </tr>
                <tr>
                    <td>conditioner</td>
                    <td>custom cut</td>
                    <td>Polish</td>
                </tr>

                <tr>
                    <td>Nails </td>
                    <td>Hair Decoration</td>
                    <td></td>
                 </tr>
                 <tr>
                    <td>custom Style </td>
                    <td></td>
                    <td></td>
                 </tr>
                 <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                 </tr>


                <tr>
                    <td >$30.00</td>
                    <td>$20.00</td>
                    <td>$15.00</td>
                 
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <br>
                <tr>
                    <td><button>Book Now!</button></td>
                    <td><button>Book Now!</button></td>
                    <td><button>Book Now!</button></td>
                </tr>
               </table>
            </div>       
            
        <div class= "container-about">
            <div class="col">
                <img src="images/images/dogSoap.jpg" class='pairDogs'>
            </div>
            <div class="col">
                <h2>Our Grooming Services</h2>
                <br>
                <br>     
                <p class="indent">Pets-R-US is the number one stop for all your dog pampering needs. We are proud to be the premier dog groomers
                                  in town.. We offer a wide variety of unique and traditional styles, guaranteeing to keep your dog up on all the latest cuts and styles. Our Grooms are dedicated to our customers and aim to provide top customer satisfaction. We invite you to experience the exceptional service that will make a difference in your and your pets' lives. So come in and meet our groomers.</p>
        
                <p class="indent">Our highly skilled groomers are committed to finding that perfect look for your dog. We customize every service because we know each client has a style and personality they want to shine through. Our team has undergone extensive training and is constantly learning and attending classes and workshops to provide the best service in the industry. </p>
        
                <p class="indent"> At our salon, you will find a wide range of customizable grooming services, including stylish haircuts, nail trimming, ear cleaning, teeth brushing, and more. In addition, we use state-of-the-art tools and products that are pet and environment-friendly. </p>

                <p class="indent">We are different from other saloons because we seek out creativity and innovation. We always seek to learn new things and share that knowledge with our valued customers. We are constantly updating our service and approaches, staying current with what matters to customers. At Pet-R-Us, we will ensure your pet will feel safe and comfortable with our staff, give them a stress-free environment they enjoy, and leave them looking great.</p>
            </div>

        </div>                   


        </div> 
  

        <section class="footer">
            <p>Images courtesy of unsplash</p>
            <p>Bellevue University - Web Development Cohort</p>
        </div>
          
        </section>   
     
       
   
</body>
</html>
  
