
<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>></title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">


</head>
<body>
<div class='container'> 
    <!-- Navigation -->
    <nav class="nav">
        
        
            <a href="/">Home</a>
    
            <a href="">Boarding</a>
        
            <a href="/grooming">Grooming</a>
        
            <a href="">Training</a>
        
            <a href="">Registration</a>
        
            <a href="">Customer list page</a>

   
            <button class="btnNav" id="btnNavLink"><a href="">Book Appointment</a></button>
        </nav>    

        <!-- hero section -->

     
    
    <section class="hero"> 

        <div class="hero-container">
            <h1>
                <u>- Pets-R-Us -</u>
            </h1> 
            
            <img src="images/images/pinkDog.jpg" alt="" style="width: 100%;">


            <br>
            <br>
            <div class="hero-text">
              
              
                <div class="hoursCard" id="time of operation">
                    <h3>Hours of operation</h3>
                    <hr>
                    <h4>
                        <br>
                        Monday-Friday 8:00am - 7:00pm
                        <br>
                        Saturday 8:00am - 8:00pm
                        <br>
                        Sunday  8:00am - 7:00pm
                    </h4>
                    <br>
                    <br>
    
                    <button  class="buttonReg">Registrar Now</button>
                </div>

              
            </div>
        <br>
        <br>
        <br>
        <!-- services -->
        <div class="services">
            <div service-text>
                <h2>Services</h2>
            <hr>
            </div>
         
            <div class="container-service">
                <div div class="column">
                    <div class="card-content" >
                        
                        <h3>Pet Adoption </h3>
                        <span class="dot"></span>
                        
                        <i class="fa-light fa-dog"></i>
                    </div>
                </div>
            <div div class="column">  
                <div class="card-content">
                    <h3>Grooming</h3>
                    <span class="dot"></span>
                    <p><i class="fa-light fa-dog"></i></p>
                </div>
            </div>
            <div class="column">
            
                <div class="card-content">       
                    <h3>Training</h3>
                    <span class="dot"></span>
                    <p>description</p>
                </div>
            </div>
            <div class="column">
              
                <div class="card-content">      
                    <h3>boarding</h3>
                    <span class="dot"></span>
                    <p>description</p>
                </div>
            </div>
    </div>
        <!-- About Me -->

        

        
           
        
    </div> 
   

            
        <div class= "container-about">
              
            <div class="col">
                <h3>About Us</h3>
                <br>
                <br>     
                <p class="indent">We are Pets-R-Us, a pet store that is part of an amazing mountain town community devoted to families’ love for their pets. Ever since I was young, I believed that the love a family could get from the love of their pets could complete a family and make it whole. That is why we opened Pet-R-US. We provide families with the resources and services that allow a family to connect and foster the connection.  We are here to lend a hand to help when you need extra help or want to pamper your special pup. We have you covered.</p>


                <p class="indent">We offer great services such as pet adoption, grooming, boarding, and training to enhance the development of strong values and connections between animals and their families. We are a shop where you will find everything you need to care for your pets. We have partnered with local shelters and rescuers to put on events to find homes forever for countless animals giving them a second chance at love and happiness.  Our trainers are certified and skilled in each of the unique services we offer. Come see our state-of-the-art grooming dog saloon, where you will find custom cuts and styles that fit your dog’s personality. If you need a place to watch your pets while you are out of town, we offer an overnight boarding service that will fit your pet’s needs. Please come in today and join our family, where we see pets as more than an animal but valued members of your families.  </p>

            </div>
            <div class="col">
                 <img src="images/images/pairOfDogs.jpg" class='pairDogs'>
             </div>
        </div>


<hr>
<br>
<br>
<br>
        
    </section>

<div class="dogOfWeekTex">
    
</div>

<h3 style="background-color:#333; color: antiquewhite;"padding:40px;>The dog of the week is Lucky!!!! </h3>
<br>
<br>
    <div container-dogOfWeek>
      
        
        <div class="dogOFweekMain">
            <img src="images/dogNum1.jpg" alt="english bull dog with a green background">

        </div>

        

            <h3 style="background-color:#333; color: antiquewhite;">Congradulations on finding your Forever home!!</h3>
        
                <br>
       
            <h2> Adopted 01/29/2023!!!!</h2>

            <hr>

<!-- Testomonies -->
        <div class="container-test">
        <section class="row2">
           
        
                <div class="column1">
                    <div class="card-content2">
                    
                    
                        <q>The dog grooming services were so impressive. My dog left looking and smelling amazing. </q>
                       
                        
                    
                    
                </div>
            </div>
            <div div class="column1">
                
                <div class="card-content2">
                    
                    <q>My dog had a great time at the borading facility. The staff was professional and gave my do  lot of playtime and attention
                        I will be using the services again
                    </q>
                </div>
            </div>
            <div div class="column1">
                
                <div class="card-content2">
                  
                    <q>
                        The training program is top-notch. They helped me and my dog work through our challenages, and my dog is much better at behaving
                        and listing to commands.
                    </q>
                </div>
            </div>
        </section>
    </div>
        <br>

        

   
        <br>

        <section class="reviews">

        </section>
        
        <!-- form code -->
      
        <div class="form-container">
            <h2>Sign Up for Special Deals and Discounts</h2>
            <hr>
            <form action="">
                <div class="form-field">
                    <label for="name">Name:</label required>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-field">
                    <input type="submit" value="submit">

                </div>
            </form>





        </div>

        </section>
        <br>
        <br>

       
        <br>

        <section class="footer">
            <p>Images courtesy of unsplash</p>
            <p>Bellevue University - Web Development Cohort</p>
        </div>
          
        </section>

       
   
</body>
</html>
  
