<%- include('partials/header') %>

<section class="hero2">
            
    <div class="hero-text">
      
        
    </div>
    
    <img src="images/images/train1.jpg" alt="">

    <h1>
        <u>- Pets-R-Us -</u>
    </h1> 
   

        <button  class="buttonReg">Registrar Now</button>
   <hr>
    
</section >

<div class= "container-about">
    <div class="col">
        <img src="images/images/trainner.jpg" class='pairDogs'>
    </div>
    <div class="col">
        <h2>Training Services</h2>
        <br>
        <br>     
        <p class="indent">Our puppy program is full of fun and lessons to get them on the best track to be on their best behavior. We focus on basic command and socialization. We also help with house training and work with each owner on special tricks and tips. </p>

        <p class="indent">For our older dogs, we will work closely with the owner and their dogs to see areas that are challenging for your pet and develop a plan to correct bad behaviors and reinforce the positive ones. We offer programs for food aggression, leash handling, jumping, and barking. We also have a program for service dogs.</p>

        <p class="indent">We understand that finding and choosing the right trainer can be difficult, but our trainer has years of proven experience that works with all dog breeds of all ages. We will provide your pet with a safe and caring place to learn the necessary skills. We us positive renforcment and encourggement.If you would like to come in and see the difference we can make in your and your pet’s life, please come in today, talk with our staff, and view one of the many classes we offer.</p>

   
    </div>
</div>

<br>
<br>
<hr>


<div class="container-service">
<div>
    <h3>Training Services</h3>
</div>
<div class="rates">
    <h2>Puppy </h2>
    <hr>
    <ul>
        <br>
        <li>House training: $25</li>
        <br>
     
        <li>leashControl: $25</li>
        <br>
        <li>Social Interaction: $40</li>
        <br>
    </ul>
    <br>
   
    <hr>
    <br>
    <button  class="buttonReg">Book Now</button>
</div>    
<div class="rates">
    <h2>Adolescence </h2>
    <hr>
    <ul>
        <br>
        <li>Leash Control: $35</li>
        <br>
     
        <li>Social Interaction: $60</li>
        <br>
        <li>Service Camp: $120</li>
        <br>
    </ul>
    <br>
   
    <hr>
    <br>
    <button  class="buttonReg">Book Now</button>
</div>       

<div class="rates">
    <h2>3 Adult </h2>
    <hr>
    <ul>
        <br>
        <li>Leash Control: $45</li>
        <br>
     
        <li>Social Interaction: $70</li>
        <br>
        <li>Service Camp: $120</li>
        <br>
    </ul>
    <br>
   
    <hr>
    <br>
    <button  class="buttonReg">book Now</button>
</div>    

</div>
<br>
<br>
<hr>
<br>
<br>
<div class= "container-about">
    <div class="col">
        <img src="images/images/sara.jpg" class='pairDogs' styles="background-color: pink;">
    </div>
    <div class="col">
        <h2>Meet the Trainer</h2>
        <br>
        <br>     
        <p class="indent">Sara has been working with us for over 7 years. She loves her job and working with all the different dogs. Sara started as a dog groomer before she entered the dog training business. She feels like each dog has there own special talents and needs and does a great job bringing the best out of pets. She can work with all dogs of all different ages and is excited to get to know you and your dog.</p>

        

   
    </div>
</div>



<%- include ('partials/footer') %>